{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% import _self as self %}

{% macro details_row(object) %}
    <tr data-index="{{ object.vars.name }}">
        <td class="hide">
            {{ form_row(object.account, {'label': false}) }}
        </td>
        <td>
            <span data-name="account-code-{{ object.vars.name }}">{{ object.vars.value.account.code|default }}</span>
        </td>
        <td>
            <span data-name="account-name-{{ object.vars.name }}">{{ object.vars.value.account.name|default }}</span>
        </td>
        <td>
            {{ form_row(object.description, {'label': false, 'attr': {'data-group-name': 'description'} }) }}
        </td>
        <td>
            {{ form_row(object.amount, {'label': false, 'attr': {'data-group-name': 'amount', 'data-bind-target': '[data-name=amount-text-' ~ object.vars.name ~ ']', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
            <span data-name="amount-text-{{ object.vars.name }}">{{ object.vars.value.amount|default|number_format(2) }}</span>
        </td>
        <td>
            <button type="button" class="btn btn-info remove-expense-detail-prototype">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.transactionDate, {'label': 'Tanggal'}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.account) }}
            </div>
        </div>
        
        <div>{{ form_row(form.note) }}</div>
            
        <hr />
        
        <div>
            <button type="button" class="btn btn-default" id="add-expense-detail-prototype" data-toggle="modal" data-target="#account-dialog">Add Account</button>
        </div>
        
        <br />
        
        <table class="table table-bordered" id="expense-detail-list">
            <thead>
                <tr class="bg-info">
                    <th class="hide">Account</th>
                    <th style="width: 10%">Kode</th>
                    <th style="width: 25%">Nama Akun</th>
                    <th>Deskripsi</th>
                    <th style="width: 15%">Jumlah</th>
                    <th style="width: 0"></th>
                </tr>
            </thead>
            <tbody data-prototype="{{ self.details_row(form.expenseDetails.vars.prototype)|e }}">
                {% for expenseDetail in form.expenseDetails %}
                    {{ self.details_row(expenseDetail) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="3">Grand Total</td>
                    <td class="text-right"><span data-name="total-amount">{{ expenseHeader.totalAmount|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
               
        <div id="account-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Account List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="account-grid" data-grid="{{ path('common_account_grid', {'form': form.vars.id}) }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        var table = $("#expense-detail-list");
                        var tableFoot = $("tfoot", table);
                        $("[data-name=total-amount]", tableFoot).text(data.totalAmount);
                    }
                });
            }
            
            var table = $("#expense-detail-list");
            var tableBody = $("tbody", table);
            var tableFoot = $("tfoot", table);
            
            tableBody.on("change", "[data-group-name=amount]", function() {
                bind();
            });
            tableBody.on("click", ".remove-expense-detail-prototype", function() {
                $(this).closest("tr").remove();
                bind();
            });
            
            $("#account-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#account-dialog").modal("hide");
                var context = $(this);
                var name = "{{ form.expenseDetails.vars.prototype.vars.name }}";
                var rows = tableBody.children("tr");
                var index = Math.max({{ expenseDetailsCount }}, (rows.length > 0) ? parseInt(rows.last().attr("data-index")) + 1 : 0);
                tableBody.appendByPrototype(tableBody.attr("data-prototype"), name, index, function(prototype) {
                    var accountPrototype = prototype.find("#{{ form.expenseDetails.vars.prototype.account.vars.id }}");
                    accountPrototype.val(context.attr("data-field-id"));
                    var accountCodePrototype = prototype.find("[data-name=account-code-" + name + "]");
                    accountCodePrototype.text(context.attr("data-field-code"));
                    var accountNamePrototype = prototype.find("[data-name=account-name-" + name + "]");
                    accountNamePrototype.text(context.attr("data-field-name"));
                });
                bind();
            });
        });
    </script>
{% endblock %}