{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Expense Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Pengeluaran #</th>
                <td>{{ expenseHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ expenseHeader.transactionDate|default ? expenseHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Akun</th>
                <td>{{ expenseHeader.account.name|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ expenseHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
                              
    <hr />
           
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th style="width: 15%">Kode</th>
                <th style="width: 20%">Nama Akun</th>
                <th>Deskripsi</th>
                <th style="width: 15%">Jumlah</th>
            </tr>
        </thead>
        <tbody>
            {% for expenseDetail in expenseHeader.expenseDetails %}
                <tr>
                    <td class="text-left">{{ expenseDetail.account.code|default }}</td>
                    <td class="text-left">{{ expenseDetail.account.name|default }}</td>
                    <td class="text-left">{{ expenseDetail.memo|default }}</td>
                    <td class="text-right">{{ expenseDetail.amount|default|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="3">Grand Total</td>
                <td class="text-right">{{ expenseHeader.totalAmount|default|number_format(2) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
