{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="saleOrderDetail" data-field="itemName">Item Name</th>
            <th data-group="saleOrderDetail" data-field="quantity">Quantity</th>
            <th data-group="saleOrderDetail" data-field="discount">Discount</th>
            <th data-group="saleOrderDetail" data-field="unitPrice">Unit Price</th>
            <th data-group="saleOrderDetail" data-field="total">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for saleOrderDetail in grid.data %}
            <tr data-field-id="{{ saleOrderDetail.id }}">
                <td class="text-left">{{ saleOrderDetail.itemName|default }}</td>
                <td class="text-left">{{ saleOrderDetail.quantity|default }}</td>
                <td class="text-right">{{ saleOrderDetail.discount|default|number_format(2) }}</td>
                <td class="text-right">{{ saleOrderDetail.unitPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ saleOrderDetail.total|default|number_format(2) }}</td>
                <td class="text-left">
                    {{ include('transaction/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('transaction_sale_order_detail_show', {'id': saleOrderDetail.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('transaction_sale_order_detail_edit', {'id': saleOrderDetail.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('transaction_sale_order_detail_delete', {'id': saleOrderDetail.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
