{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="supplier" data-field="name">Company</th>
            <th data-group="supplier" data-field="contactPerson">Contact Person</th>
        </tr>
        <tr data-action="search">
            <th data-group="supplier" data-field="name"></th>
            <th data-group="supplier" data-field="contactPerson"></th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in grid.data %}
            <tr data-field-id="{{ supplier.id }}"
                data-field-name="{{ supplier.name|default }}"
                data-field-contact-person="{{ supplier.contactPerson|default }}">
                <td class="text-left">{{ supplier.name|default }}</td>
                <td class="text-left">{{ supplier.contactPerson|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
