{% extends 'staff/layout.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block actions %}
    {{ include('action.html.twig', {'url': path('staff_profile_edit', { 'id': user.id }), 'label': 'Edit Profile', 'button': 'btn btn-warning', 'icon': 'glyphicon glyphicon-edit'}) }}
    {{ include('action.html.twig', {'url': path('staff_profile_password', { 'id': user.id }), 'label': 'Change Password', 'button': 'btn btn-warning', 'icon': 'glyphicon glyphicon-lock'}) }}
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.userRoles %}
                        <div>{{ role.name }}</div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
