{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="salePaymentHeader" data-field="codeNumber">Tanda Terima #</th>
            <th data-group="salePaymentHeader" data-field="transactionDate">Tanggal</th>
            <th data-group="customer" data-field="name">Customer</th>
            <th data-group="salePaymentHeader" data-field="grandTotal">Grand Total</th>
        </tr>
        <tr data-action="search">
            <th data-group="salePaymentHeader" data-field="codeNumber"></th>
            <th data-group="salePaymentHeader" data-field="transactionDate"></th>
            <th data-group="customer" data-field="name"></th>
            <th data-group="salePaymentHeader" data-field="grandTotal"></th>
        </tr>
    </thead>
    <tbody>
        {% for salePaymentHeader in grid.data %}
            <tr data-field-id="{{ salePaymentHeader.id }}"
                data-field-code-number="{{ salePaymentHeader.codeNumber|default }}"
                data-field-transaction-date="{{ salePaymentHeader.transactionDate|default ? salePaymentHeader.transactionDate|date('j M Y') }}"
                data-field-customer-name="{{ salePaymentHeader.customer.name|default }}"
                data-field-grand-total="{{ salePaymentHeader.grandTotal|default|number_format(2) }}"
                data-field-sale-payment-details-count="{{ salePaymentHeader.salePaymentDetails.count|default }}">
                <td class="text-left">{{ salePaymentHeader.codeNumber|default }}</td>
                <td class="text-left">{{ salePaymentHeader.transactionDate|default ? salePaymentHeader.transactionDate|date('j M Y') }}</td>
                <td class="text-left">{{ salePaymentHeader.customer.name|default }}</td>
                <td class="text-right">{{ salePaymentHeader.grandTotal|default|number_format(2) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>