{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Receive Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Penerimaan #</th>
                <td>{{ receiveHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ receiveHeader.transactionDate|default ? receiveHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>PO #</th>
                <td>{{ receiveHeader.purchaseOrderHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal PO </th>
                <td>{{ receiveHeader.purchaseOrderHeader.transactionDate|default ? receiveHeader.purchaseOrderHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ receiveHeader.purchaseOrderHeader.supplier.name|default }}</td>
            </tr>
            <tr>
                <th>SJ #</th>
                <td>{{ receiveHeader.reference|default }}</td>
            </tr>
            <tr>
                <th>Gudang</th>
                <td>{{ receiveHeader.warehouse.name|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ receiveHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
                              
    <hr />
           
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Nama Barang</th>
                <th style="width: 15%">Ukuran</th>
                <th style="width: 10%">Satuan</th>
                <th style="width: 10%">Qty Order</th>
                <th style="width: 10%">Qty Sisa</th>
                <th style="width: 10%">Qty Terima</th>
            </tr>
        </thead>
        <tbody>
            {% for receiveDetail in receiveHeader.receiveDetails %}
                <tr>
                    <td class="text-left">{{ receiveDetail.purchaseOrderDetail.product.name|default }}</td>
                    <td class="text-left">{{ receiveDetail.purchaseOrderDetail.product.size|default }}</td>
                    <td class="text-left">{{ receiveDetail.purchaseOrderDetail.product.unit.name|default }}</td>
                    <td class="text-center">{{ receiveDetail.purchaseOrderDetail.quantity|default|number_format(0) }}</td>
                    <td class="text-center">{{ receiveDetail.purchaseOrderDetail.quantityRemaining|default|number_format(0) }}</td>
                    <td class="text-center">{{ receiveDetail.quantity|default|number_format(0) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="5">Total</td>
                <td class="text-center">{{ receiveHeader.totalQuantity|default|number_format(0) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
