{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="journalVoucherDetail" data-field="debit">Debit</th>
            <th data-group="journalVoucherDetail" data-field="credit">Credit</th>
            <th data-group="journalVoucherDetail" data-field="memo">Memo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for journalVoucherDetail in grid.data %}
            <tr data-field-id="{{ journalVoucherDetail.id }}">
                <td class="text-right">{{ journalVoucherDetail.debit|default|number_format(2) }}</td>
                <td class="text-right">{{ journalVoucherDetail.credit|default|number_format(2) }}</td>
                <td class="text-left">{{ journalVoucherDetail.memo|default }}</td>
                <td class="text-left">
                    {{ include('transaction/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('transaction_journal_voucher_detail_show', {'id': journalVoucherDetail.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('transaction_journal_voucher_detail_edit', {'id': journalVoucherDetail.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('transaction_journal_voucher_detail_delete', {'id': journalVoucherDetail.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
