{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Purchase Receipt Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Tanda Terima #</th>
                <td>{{ purchaseReceiptHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ purchaseReceiptHeader.transactionDate|default ? purchaseReceiptHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ purchaseReceiptHeader.supplier.name|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseReceiptHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
                              
    <hr />
           
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th style="width: 15%">Invoice #</th>
                <th style="width: 15%">Tanggal</th>
                <th>Memo</th>
                <th style="width: 15%">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseReceiptDetail in purchaseReceiptHeader.purchaseReceiptDetails %}
                <tr>
                    <td class="text-left">{{ purchaseReceiptDetail.purchaseInvoiceHeader.codeNumber|default }}</td>
                    <td class="text-left">{{ purchaseReceiptDetail.purchaseInvoiceHeader.transactionDate|default ? purchaseReceiptDetail.purchaseInvoiceHeader.transactionDate|date('j F Y') }}</td>
                    <td class="text-left">{{ purchaseReceiptDetail.memo|default }}</td>
                    <td class="text-right">{{ purchaseReceiptDetail.amount|default|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="3">Grand Total</td>
                <td class="text-right">{{ purchaseReceiptHeader.grandTotal|default|number_format(2) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="3">Total Payment</td>
                <td class="text-right">{{ purchaseReceiptHeader.totalPayment|default|number_format(2) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="3">Remaining</td>
                <td class="text-right">{{ purchaseReceiptHeader.remaining|default|number_format(2) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
