{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="receiveHeader" data-field="codeNumber">Penerimaan #</th>
            <th data-group="receiveHeader" data-field="transactionDate">Tanggal</th>
            <th data-group="supplier" data-field="name">Supplier</th>
        </tr>
        <tr data-action="search">
            <th data-group="receiveHeader" data-field="codeNumber"></th>
            <th data-group="receiveHeader" data-field="transactionDate"></th>
            <th data-group="supplier" data-field="name"></th>
        </tr>
    </thead>
    <tbody>
        {% for receiveHeader in grid.data %}
            <tr data-field-id="{{ receiveHeader.id }}"
                data-field-code-number="{{ receiveHeader.codeNumber|default }}"
                data-field-transaction-date="{{ receiveHeader.transactionDate|default ? receiveHeader.transactionDate|date('j M Y') }}"
                data-field-supplier-name="{{ receiveHeader.purchaseOrderHeader.supplier.name|default }}"
                data-field-receive-details-count="{{ receiveHeader.receiveDetails.count|default }}">
                <td class="text-left">{{ receiveHeader.codeNumber|default }}</td>
                <td class="text-left">{{ receiveHeader.transactionDate|default ? receiveHeader.transactionDate|date('j M Y') }}</td>
                <td class="text-left">{{ receiveHeader.purchaseOrderHeader.supplier.name|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>