{% extends 'staff/layout.html.twig' %}

{% block title 'Transaction Menu' %}

{% block stylesheets %}
    <style>
        table thead tr th:nth-child(2), table tbody tr td:nth-child(2) { width: 30% }
        table thead tr th:nth-child(3), table tbody tr td:nth-child(3) { width: 30% }
    </style>
{% endblock %}

{% block content %}
    {% set menu = app.session.get('menu') %}
    
    {% if menu['transaction'] %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info lead">
                        <strong>Penjualan</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Invoice Penjualan</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_sale_invoice_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_sale_invoice_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Retur Penjualan</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_sale_return_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_sale_return_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Tanda Terima Penjualan</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_sale_receipt_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_sale_receipt_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Pelunasan Penjualan</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_sale_payment_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_sale_payment_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Giro / Cek</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_sale_cheque_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_sale_cheque_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
            </tbody>
        </table>
    {% endif %}
             
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info lead">
                        <strong>Pembelian</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Purchase Order</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_purchase_order_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_purchase_order_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Penerimaan Barang</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_receive_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_receive_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Retur Pembelian</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_purchase_return_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_purchase_return_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Invoice Pembelian</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_purchase_invoice_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_purchase_invoice_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Tanda Terima Pembelian</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_purchase_receipt_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_purchase_receipt_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Pembayaran Pembelian</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_purchase_payment_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_purchase_payment_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
            </tbody>
        </table>
    
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info lead">
                        <strong>Gudang</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Penyesuaian Stok</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_adjustment_stock_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_adjustment_stock_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Transfer Antar Gudang</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_transfer_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_transfer_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
            </tbody>
        </table>
            
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info lead">
                        <strong>Finance / Accounting</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Penerimaan Kas / Bank</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_deposit_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_deposit_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Pengeluaran Kas / Bank</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_expense_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_expense_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
                    <tr>
                        <td>Jurnal Umum</td>
                        <td>
                                {{ include('action.html.twig', {'url': path('transaction_journal_voucher_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                        </td>
                        <td>{{ include('action.html.twig', {'url': path('transaction_journal_voucher_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                    </tr>
            </tbody>
        </table>
{% endblock %}
