{% extends 'base.html.twig' %}

{% block title 'Memo' %}

{% block body %}
    <div class="memo">
        <div class="header">
            <h1 class="title">PT. Galatech Jaya Abadi</h1>
            <h2 class="title">SURAT JALAN</h2>
        </div>
        
        <br />
        
        <div class="note">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">SJ #</div>
                            <div class="cell value">{{ saleInvoiceHeader.codeNumber|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Tanggal</div>
                            <div class="cell value">{{ saleInvoiceHeader.transactionDate|default ? saleInvoiceHeader.transactionDate|date('j F Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Info</div>
                            <div class="cell value">{{ saleInvoiceHeader.warehouse.code|default }}</div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">Customer</div>
                            <div class="cell value">{{ saleInvoiceHeader.customer.name|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Dibuat oleh</div>
                            <div class="cell value">{{ saleInvoiceHeader.staffFirst.name|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Pengirim</div>
                            <div class="cell value">{{ saleInvoiceHeader.vehicleDriver|default }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        
        <table class="detail">
            <thead>
                <tr class="bg-info">
                    <th>Nama Barang</th>
                    <th style="width: 15%">Ukuran</th>
                    <th style="width: 10%">Qty</th>
                    <th style="width: 5%">Satuan</th>
                </tr>
            </thead>
            <tbody>
                {% for row in saleInvoiceHeader.saleInvoiceDetails|batch(12, '') %}
                    {% for saleInvoiceDetail in row %}
                        <tr>
                            {% for i in 1..4 if saleInvoiceDetail is empty %}
                                <td>&nbsp;</td>
                            {% else %}
                                <td class="left">{{ saleInvoiceDetail.itemName|default }}</td>
                                <td class="left">{{ saleInvoiceDetail.product.size|default }}</td>
                                <td class="center">{{ saleInvoiceDetail.quantity|default|number_format(0) }}</td>
                                <td class="left">{{ saleInvoiceDetail.product.unit.name|default }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="label right">Total</td>
                    <td class="center">{{ saleInvoiceHeader.totalQuantity|default|number_format(0) }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
        <br />
        
        <div class="note">
            <div class="table">
                <div class="cell label">Catatan:</div>
                <div class="cell">&nbsp;&nbsp;</div>
                <div class="cell">{{ saleInvoiceHeader.note|default }}</div>
            </div>
        </div>
        
        <br />
        
        <div class="signature">
            <div class="table full">
                <div class="cell sig">
                    <div>Tanda Terima,</div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                </div>
                <div class="cell sig">
                    <div>Disiapkan oleh,</div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                </div>
                <div class="cell sig">
                    <div>Diperiksa oleh,</div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                </div>
                <div class="cell sig">
                    <div>Hormat Kami,</div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets_include %}
    <link rel="stylesheet" href="{{ asset('css/memo.css') }}" />
{% endblock %}

{% block javascripts_include %}{% endblock %}

{% block stylesheets %}
    <style>
        .col:nth-child(1) { width: 50% }
        .col:nth-child(2) { width: 50% }
        
        .col:nth-child(1) .label { width: 35% }
        .col:nth-child(1) .value { width: 65% }
        .col:nth-child(2) .label { width: 35% }
        .col:nth-child(2) .value { width: 65% }
        
        .sig:nth-child(1) { width: 25% }
        .sig:nth-child(2) { width: 25% }
        .sig:nth-child(3) { width: 25% }
        .sig:nth-child(4) { width: 25% }
    </style>
{% endblock %}